body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
  }
  .Header{
    text-align: center;
  }
  .timer {
    font-size: 4em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
  }
  
  button {
    font-size: 1.2em; 
    padding: 15px; 
    margin: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  .start{
    background-color: #4c41e3;
  }
  .reset{
    background-color: #62626b;
  }
  .customize{
    background-color: #49e341;
  }
  .setTimer{
    width: 200px;
    height: 30px;
    font-size: larger;
  }
  .input-container {
    margin-top: 20px;
  }
  
  .input-container input {
    padding: 10px;
    font-size: 1em;
    width: 100px;
    text-align: center;
  }
  
  .input-container button {
    font-size: 1.2em; 
    padding: 15px; 
    margin-top: 5px;
    margin-right: 5px; 
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
  }
  